
    .card-img-top {
      transition: transform 0.5s ease;
    }

    .card-img-top:hover {
      transform: scale(1.1);
    }

    .card {
      overflow: hidden;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .fade-in {
      animation: fadeIn 2s ease-out forwards; 
    }

    
    @keyframes zoomIn {
      0% {
        transform: scale(0.8); 
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    .zoom-in {
      animation: zoomIn 4s ease-out forwards; 
    }

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    .typing-effect {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      width: 0;
      animation: typing 4s steps(20) 1s forwards, fadeIn 0.5s ease-out forwards;
    }

    .jumbotron {
      padding-top: 100px;
    }